.start-game-panel {
  margin-top: 7%;
}

.App {
  text-align: center;
  top: 0%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(145, 221, 231)
  );
  width: 100vw;
  margin: 0;
  padding: 0;
  color: rgb(4, 4, 82);
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.home h1 {
  margin-top: 10%;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.radios-difficulty {
  display: block !important;
  margin-bottom: 5vh;
}

.login-panel {
  margin-top: 25%;
}

.create-user-btn {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.sign-up-div {
  margin-top: 1%;
}
.nav-bar {
  padding-bottom: 4%;
  padding-top: 2%;
}
.logout {
  float: left;
  color: rgb(61, 53, 110);
  text-decoration: none;
  width: fit-content;
  margin-left: 2%;
  & .logout-btn {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    align-items: center;
  }
  & .avatar {
    background-color: lightblue;
    margin-top: 0% !important;
  }
}

.nav-link {
  color: rgb(61, 53, 110);
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  float: right;
  margin-right: 3%;
}
.question-container,
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#option {
  margin-top: 5vh;
  width: 100%;
}
#time-line {
  width: 50%;
  height: 2vh;
}
.timer,
.question {
  margin-top: 5vh;
}
.login-panel {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/////////////////////////////////////////////////////@at-root

body {
  margin: 0;
  font-family: Roboto, -apple-system, "Helvetica Neue", "Segoe UI", Arial,
    sans-serif;
  background: #3b4465;
}

.forms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 32px;
  letter-spacing: 1px;
}

.forms {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.form-wrapper {
  animation: hideLayer 0.3s ease-out forwards;
}

.form-wrapper.is-active {
  animation: showLayer 0.3s ease-in forwards;
}

@keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

@keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}

.switcher {
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #999;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateX(0);
  transition: all 0.3s ease-out;
}

.form-wrapper.is-active .switcher-login {
  transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
  transform: translateX(-90px);
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 2px;
}

.underline::before {
  content: "";
  position: absolute;
  top: 0;
  left: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  transition: transform 0.2s ease-out;
}

.switcher-login .underline::before {
  transform: translateX(101%);
}

.switcher-signup .underline::before {
  transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
  transform: translateX(0);
}

.form {
  overflow: hidden;
  min-width: 260px;
  margin-top: 50px;
  padding: 30px 25px;
  border-radius: 5px;
  transform-origin: top;
}

.form-login {
  animation: hideLogin 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
  animation: showLogin 0.3s ease-in forwards;
}

@keyframes showLogin {
  0% {
    background: #d7e7f1;
    transform: translate(40%, 10px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    background-color: #fff;
    transform: translate(35%, -20px);
  }
}

@keyframes hideLogin {
  0% {
    background-color: #fff;
    transform: translate(35%, -20px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    background: #d7e7f1;
    transform: translate(40%, 10px);
  }
}

.form-signup {
  animation: hideSignup 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
  animation: showSignup 0.3s ease-in forwards;
}

@keyframes showSignup {
  0% {
    background: #d7e7f1;
    transform: translate(-40%, 10px) scaleY(0.8);
  }
  50% {
    transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background-color: #fff;
    transform: translate(-35%, -20px) scaleY(1);
  }
}

@keyframes hideSignup {
  0% {
    background-color: #fff;
    transform: translate(-35%, -20px) scaleY(1);
  }
  50% {
    transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background: #d7e7f1;
    transform: translate(-40%, 10px) scaleY(0.8);
  }
}

.form fieldset {
  position: relative;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.form-login fieldset {
  transform: translateX(-50%);
}

.form-signup fieldset {
  transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s ease-in, transform 0.35s ease-in;
}

.form legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.input-block {
  margin-bottom: 20px;
}

.input-block label {
  font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type="submit"] {
  opacity: 0;
  display: block;
  min-width: 120px;
  margin: 30px auto 10px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease-out;
}

.form-wrapper.is-active .form [type="submit"] {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-in;
}

.btn-login {
  color: #fbfdff;
  background: #a7e245;
  transform: translateX(-30%);
}

.btn-signup {
  color: #a7e245;
  background: #fbfdff;
  box-shadow: inset 0 0 0 2px #a7e245;
  transform: translateX(30%);
}

table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: rgb(54, 50, 110);
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(54, 50, 110);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: "Roboto", sans-serif;
}
section {
  margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/////////////////////////game summery/////////////////////@at-root
// Colors
$background-color: #e0e2ec;
$color-primary-light: #3746ca;
$color-primary-dark: #1e0b36;
$color-black: #000;
$color-gray-dark: #aaa;
$color-gray-light: #eee;
$color-white: #fff;

// Mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } // < 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } // < 900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } // < 1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } // > 1800px
  }
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50
  }
  @include respond(big-desktop) {
    font-size: 80%; // 1 rem = 12px, 12/16 = 75
  }
}

.artboard {
  display: flex;
  @include flexCenter;
  padding: 4rem;
  height: 100%;
  position: relative;

  @include respond(phone) {
    padding: 1rem;
  }
}

.card {
  flex: initial;
  position: relative;
  height: 40rem;
  width: 38rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
  margin-top: 1rem;

  &__side {
    height: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden; /* We don't want to see the back part of the element. */
    backface-visibility: hidden; /* We don't want to see the back part of the element. */
    border-radius: 3px;
    overflow: hidden; /* The image is overflowing the parent. */
    box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

    &--front {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-dark, 0.65),
          rgba($color-primary-light, 0.7)
        ),
        url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
    }

    &--back {
      background-color: $color-white;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  // Front side of the card
  &__theme {
    @include absCenter;
    top: 54%;
    width: 90%;
    text-align: center;
  }

  &__theme-box {
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__subject {
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__title {
    font-family: "VT323", monospace;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 100;
  }

  // Back side of the card
  &__cover {
    position: relative;
    background-size: cover;
    height: 14rem;
    // background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(
        to top right,
        rgba($color-primary-dark, 0.65),
        rgba($color-primary-light, 0.65)
      ),
      url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }

  &__heading {
    text-align: center;
    color: $color-white;
    @include absCenter;
    width: 75%;
  }

  &__heading-span {
    font-family: "VT323", monospace;
    font-size: 4.2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: $color-white;
  }

  &__details {
    font-family: "Inconsolata", monospace;
    padding: 4rem 2rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-light;
        }
      }
    }
  }

  // Responsivity
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--front {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }

      &--back {
        transform: rotateY(0);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 3rem 2rem;
    }

    // Front side responsive styling
    &__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }

    &__theme-box {
      margin-bottom: 1.5rem;
    }

    &__title {
      font-size: 4rem;
    }
  }
}
