.start-game-panel {
  margin-top: 15%;
}

.App {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(145, 221, 231)
  );
  width: 100vw;
  height: 100vh;
  color: rgb(4, 4, 82);
}

.game {
  & .avatar {
    background-color: lightblue;
    margin-top: 0%;
  }
}

.home h1 {
  margin-top: 4%;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.radios-difficulty {
  display: block !important;
  margin-bottom: 5vh;
}

.login-panel {
  margin-top: 25%;
}

.create-user-btn {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.sign-up-div {
  margin-top: 1%;
}
.nav-bar {
  padding-top: 2%;
  padding-bottom: 4%;
}
.logout {
  float: left;
  padding-left: 2vw;
  & .logout-btn {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    // float: left;
  }
}

.nav-link {
  color: rgb(61, 53, 110);
  text-decoration: none;
  width: fit-content;
  float: right;
  margin-right: 3%;
}
